include _gloable
doctype html
html 
 +head2
 body
  +header2
  +out
  .details 
   .info 
    .title  المنتج : #[span ]
    .counter العدد: #[span.quantity-btn -] #[input(type="number" , maxlength="1" ,value="1")] #[span.quantity-btn +]
    .price السعر : #[span ]
    a اضف لي السله
   .img 
    img(src="../upload/products-img/File10.jpg", alt="")
  +data4-2
  script(src="../js/main.js")