include _gloable
doctype html
html 
 +head2
 body
  +header3
  .table 
   .container
    table 
     thead 
      tr 
       th المنتج
       th السعر
       th الكميه
       th  سعر الكميه
     tbody
    .back-updata 
     a(href="./products.html" class="back") طلب كمان
     a(class="Up") تحديث السعر
    .box
     h2 الفاتوره
     .total 
      span السعر الكلي
      span.price
     button.done تواصل معا لي تاكد الطلب
  script(src="../js/main.js")